<!DOCTYPE html>
<html lang="en">


<style>
  table {
    margin: 0 auto;
  }

  td {
    border: 1px solid blue;
    padding: 5px;
    margin: 0;
  }

  #form-delete {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  #delete {
    width: 100%;
    padding: 20px;
    height: 100%;
    border: none;
    background-color: cornsilk;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  #delete:hover {
    color: white;
    background-color: crimson;
    transition: all 0.25s linear;
  }

  #edit {
    width: 100%;
    padding: 20px;
    height: 100%;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: green;
  }

  #edit:hover {
    color: white;
    background-color:green;
    transition: all 0.25s linear;
  }
</style>

<head>
  <title>TinyApp</title>
</head>

<body>

  <table>
    <tbody>

      <% for (let url in urls) { %>
      <tr>
        <td>
          <a href="/urls/<%= url %>"><%= url %></a>
        </td>
        <td>
          <%= urls[url] %>
        </td>
        <td>
          <form id="form-edit" method="GET" action="/urls/<%= url %>">
            <input id="edit" type="submit" value="Edit">
          </form>
        </td>
        <td>
          <form id="form-delete" action="/urls/<%= url %>/?_method=DELETE" method="POST">
            <input id="delete" type="submit" value="Delete">
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>

</html>