<!DOCTYPE html>
<html lang="en">

<style>
  h2 {
    margin-top: 50px;
    text-align: center;
  }

  form {
    text-align: center;
  }

  table {
    margin: 0 auto;
  }

  th {
    width: 50%;
    padding: 10px;
    margin: 20px;
  }
</style>

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header %>

  <h2>Short Url:
    <%= shortURL %>
  </h2>

  <form method="POST" action="/urls/<%= shortURL %>">
    <input name="longURL" type="text" value="<%= longURL  %>" />
    <input type="submit" value="Update" />
  </form>

  <table>
    <thead>
      <tr>
        <th>Total</th>
        <th>Unique</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= analytics.count %></td>
        <td><%= analytics.unique %></td>
      </tr>
    </tbody>
  </table>

</body>

</html>